/* Add CSS Styling */

.button1 , .button2 {
    font-size: 28px;
    font-family: Helvetica,'times new roman', sans-serif;
}

.button1 {
    background-color: black;
    color: white;
}

.button2 {
    background-color: yellow;
}